body {
	font-size: 1.1em;
	overflow-x: hidden;
	font-family: "Lucida Console", Monaco, monospace;
}
ul{
	list-style-type: none;
}
fieldset{
	border: 0;
}
a,a:visited,a:active{
	text-decoration: none;
	color: #aaaaff;
}
.hidden {
	display:none;
}

.myButton {
    
    -moz-box-shadow: 0px 1px 0px 0px #f0f7fa;
    -webkit-box-shadow: 0px 1px 0px 0px #f0f7fa;
    box-shadow: 0px 1px 0px 0px #f0f7fa;
    
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #33bdef), color-stop(1, #019ad2));
    background:-moz-linear-gradient(top, #33bdef 5%, #019ad2 100%);
    background:-webkit-linear-gradient(top, #33bdef 5%, #019ad2 100%);
    background:-o-linear-gradient(top, #33bdef 5%, #019ad2 100%);
    background:-ms-linear-gradient(top, #33bdef 5%, #019ad2 100%);
    background:linear-gradient(to bottom, #33bdef 5%, #019ad2 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#33bdef', endColorstr='#019ad2',GradientType=0);
    
    background-color:#33bdef;
    
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:6px;
    
    border:1px solid #057fd0;
    
    display:inline-block;
    color:#ffffff;
    font-family:arial;
    font-size:1em;
    font-weight:bold;
    padding:0.3em 1.25em;
    text-decoration:none;
    
    text-shadow:0px -1px 0px #5b6178;
    
}
.myButton:hover {
    
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #019ad2), color-stop(1, #33bdef));
    background:-moz-linear-gradient(top, #019ad2 5%, #33bdef 100%);
    background:-webkit-linear-gradient(top, #019ad2 5%, #33bdef 100%);
    background:-o-linear-gradient(top, #019ad2 5%, #33bdef 100%);
    background:-ms-linear-gradient(top, #019ad2 5%, #33bdef 100%);
    background:linear-gradient(to bottom, #019ad2 5%, #33bdef 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#019ad2', endColorstr='#33bdef',GradientType=0);
    
    background-color:#019ad2;
}
.myButton:active {
    position:relative;
    top:1px;
}
a.myButton,a.myButton:visited, a.myButton:active{
	text-decoration: none;
	color: #ffffff;
}

/* For modern browsers */
.clearFix:before,.clearFix:after, .clearfix:before,.clearfix:after {
    content:"";
    display:table;
}
.clearFix:after,.clearfix:after {
    clear:both;
}
/* For IE 6/7 (trigger hasLayout) */
.clearFix,.clearfix {
    zoom:1;
}

.productMenu{
	font-size: 1.1em;
}
/* Guest menu - orders*/

#guest_menu{
	margin-bottom: 1.2em;
}
#guest_menu li{
	float: left;
	padding: 0 0.5em;
    border-top: 2px solid #777;
    border-bottom: 2px solid #777;
	border-right: 2px solid #777;
	border-left: 2px solid #777;
}
#guest_menu li.active{
	background-color: #7bdcf5;
	display:block;
}
#guest_menu li.active a{
	color: #fff;
}
.send{
	width: 3em;
	font-size: 1em;
	border-radius: 30px;
}

/* Header */
#header{
	border-bottom: 1px solid #ccc;
	margin-bottom: 20px;
}

#header .logo, #header h1{
	float: left;
}
#header .logo{
	width: 100px;
}
#wrap{
	width:200%;
}
#orderForm, #product_description{
	float:left;
}
#orderForm{
	width: 50%;
}
#product_description{
	margin-left:25%;	
}
/* Host menu */
#host_menu {
	float: left;
	margin: 65px 0 0 30px;
}
#host_menu li{
	float: left;
	margin-right: 20px;
}
#host_menu li.active{
	border-bottom:1px solid #ccc;
}
/* Twitter bootstrap */
fieldset label, div.input{
} 
div.input{
	margin-bottom:20px;
}
/* Title and back button */
.titleAndButton h2, .titleAndButton h3, .titleAndButton h4, .titleAndButton a.myButton{
	float:left;
}
.titleAndButton a.myButton{
	margin: 24px 0 0 20px;
}
/* Input text */
input[type="text"]{
    
    padding: 7px;   
    border: 1px solid #DDDDDD;
    
    /*Applying CSS3 gradient*/
    background: -moz-linear-gradient(center top , #FFFFFF,  #EEEEEE 1px, #FFFFFF 20px);    
    background: -webkit-gradient(linear, left top, left 20, from(#FFFFFF), color-stop(5%, #EEEEEE) to(#FFFFFF));
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FBFBFB', endColorstr='#FFFFFF');
    
    /*Applying CSS 3radius*/   
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    
    /*Applying CSS3 box shadow*/
    -moz-box-shadow: 0 0 2px #DDDDDD;
    -webkit-box-shadow: 0 0 2px #DDDDDD;
    box-shadow: 0 0 2px #DDDDDD;

}
input[type="text"]:hover
{
    border:1px solid #cccccc;
}
input[type="text"]:focus
{
    box-shadow:0 0 2px #FFFE00;
}

/* Footer and messages*/
#footer .info_messages, #footer .error_messages{
	position: fixed;
	top: 0;
	right: 0;
	margin: 20px;
	color: red;
	background-color: antiquewhite;
	padding:15px;
	border: 2px solid red;
	width: 250px;
}
#footer .error_messages{
	margin: 20px;
	color: red;
	background-color: yellow;
	padding:15px;
	border: 2px solid red;
	width: 250px;
}

/* Bar table list */
.bartable{
	margin:30px;
}
.bartable .name{
	width: 100px;
	height: 100px;
	border: 1px solid #333;
	text-align: center;
	vertical-align: middle;
	line-height: 100px;
	border-radius: 5px;  
}
.bartable .name, .bartable .state{
	float:left;  
}
.active_orders span,.guest_wants_to_pay{
	color: red;
	background-color: yellow;
}
/* Bar table view */
#bartable .name{
	width: 300px;
	height: 300px;
	border: 3px solid #333;
	text-align: center;
	vertical-align: middle;
	line-height: 300px;
	border-radius: 15px;
	margin-right: 20px;
}
#bartable .name, #bartable .state{
	float:left;
}
#bartable .state{
	min-width: 700px;
}
/* Product List View */
table.simpleTable {
	font-family:Arial, Helvetica, sans-serif;
	color:#666;
	text-shadow: 1px 1px 0px #fff;
	background:#eaebec;
	margin:20px;
	border:#ccc 1px solid;

	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;

	-moz-box-shadow: 0 1px 2px #d1d1d1;
	-webkit-box-shadow: 0 1px 2px #d1d1d1;
	box-shadow: 0 1px 2px #d1d1d1;
}
table.simpleTable th {
	padding:21px 25px 22px 25px;
	border-top:1px solid #fafafa;
	border-bottom:1px solid #e0e0e0;

	background: #ededed;
	background: -webkit-gradient(linear, left top, left bottom, from(#ededed), to(#ebebeb));
	background: -moz-linear-gradient(top,  #ededed,  #ebebeb);
}
table.simpleTable th:first-child {
	text-align: left;
	padding-left:20px;
}
table.simpleTable tr:first-child th:first-child {
	-moz-border-radius-topleft:3px;
	-webkit-border-top-left-radius:3px;
	border-top-left-radius:3px;
}
table.simpleTable tr:first-child th:last-child {
	-moz-border-radius-topright:3px;
	-webkit-border-top-right-radius:3px;
	border-top-right-radius:3px;
}
table.simpleTable tr {
	text-align: center;
	padding-left:20px;
}
table.simpleTable td:first-child {
	text-align: left;
	padding-left:20px;
	border-left: 0;
}
table.simpleTable td {
	padding:12px;
	border-top: 1px solid #ffffff;
	border-bottom:1px solid #e0e0e0;
	border-left: 1px solid #e0e0e0;

	background: #fafafa;
	background: -webkit-gradient(linear, left top, left bottom, from(#fbfbfb), to(#fafafa));
	background: -moz-linear-gradient(top,  #fbfbfb,  #fafafa);
}
table.simpleTable tr.even td {
	background: #f6f6f6;
	background: -webkit-gradient(linear, left top, left bottom, from(#f8f8f8), to(#f6f6f6));
	background: -moz-linear-gradient(top,  #f8f8f8,  #f6f6f6);
}
table.simpleTable tr:last-child td {
	border-bottom:0;
}
table.simpleTable tr:last-child td:first-child {
	-moz-border-radius-bottomleft:3px;
	-webkit-border-bottom-left-radius:3px;
	border-bottom-left-radius:3px;
}
table.simpleTable tr:last-child td:last-child {
	-moz-border-radius-bottomright:3px;
	-webkit-border-bottom-right-radius:3px;
	border-bottom-right-radius:3px;
}
table.simpleTable tr:hover td {
	background: #f2f2f2;
	background: -webkit-gradient(linear, left top, left bottom, from(#f2f2f2), to(#f0f0f0));
	background: -moz-linear-gradient(top,  #f2f2f2,  #f0f0f0);	
}

/* Edit product */
.product .help-block{
	display: none;
}
.product .error .help-inline{
	color: red;
}
#availability_field label, #availability_field .input{
	float:left;
}
#availability_field .input{
	margin-left: 20px;
}
.product > div{
	position: relative;
	width: 500px;
}
#description_field textarea{
	width: 100%;
	height: 150px;
}