*{
	margin: 0;
	padding: 0;
}
html, body {
	width: 100%;
}
body {
	font-size: 1em;
	font-family: "Lucida Console", Monaco, monospace;
	overflow: hidden;
}
ul{
	list-style-type: none;
}
a,a:visited,a:active{
	text-decoration: none;
	color: #aaaaff;
}
.hidden {
	display:none;
}

.myButton {
    
    -moz-box-shadow: 0px 1px 0px 0px #f0f7fa;
    -webkit-box-shadow: 0px 1px 0px 0px #f0f7fa;
    box-shadow: 0px 1px 0px 0px #f0f7fa;
    
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #33bdef), color-stop(1, #019ad2));
    background:-moz-linear-gradient(top, #33bdef 5%, #019ad2 100%);
    background:-webkit-linear-gradient(top, #33bdef 5%, #019ad2 100%);
    background:-o-linear-gradient(top, #33bdef 5%, #019ad2 100%);
    background:-ms-linear-gradient(top, #33bdef 5%, #019ad2 100%);
    background:linear-gradient(to bottom, #33bdef 5%, #019ad2 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#33bdef', endColorstr='#019ad2',GradientType=0);
    
    background-color:#33bdef;
    
    -moz-border-radius:0.3em;
    -webkit-border-radius:0.3em;
    border-radius:0.3em;
    
    border:1px solid #057fd0;
    
    display:inline-block;
    color:#ffffff;
    font-family:arial;
    font-size:1em;
    font-weight:bold;
    padding:0.3em 1.25em;
    text-decoration:none;
    
    text-shadow:0px -1px 0px #5b6178;
    
}
a.myButton,a.myButton:visited, a.myButton:active, #guest_menu li a, #guest_menu li a:visited, #guest_menu li a:active{
	text-decoration: none;
	color: #ffffff;
}

/* For modern browsers */
.clearFix:before,.clearFix:after, .clearfix:before,.clearfix:after {
    content:"";
    display:table;
}
.clearFix:after,.clearfix:after {
    clear:both;
}
/* For IE 6/7 (trigger hasLayout) */
.clearFix,.clearfix {
    zoom:1;
}

/* Products to choose from */
.productMenu{
	font-size: 1.1em;
	width: 100%;
	border-collapse: collapse;
	vertical-align: middle;
	text-align: center;
}
.productMenu tbody tr td{
	padding: 0.3em 0;
	border-bottom:3px solid #ffffff;
	background-color: #f1f1f1;
}
.productMenu caption{
	margin: 0.6em 0;
	font-weight: bold;
}
.productMenu .price{
	text-align: right;
}
.plusminus .p,.plusminus .m,.plusminus span{
	padding: 0em 0.25em;
    
    -moz-box-shadow: 0px 1px 0px 0px #f0f7fa;
    -webkit-box-shadow: 0px 1px 0px 0px #f0f7fa;
    box-shadow: 0px 1px 0px 0px #f0f7fa;
    
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #33bdef), color-stop(1, #019ad2));
    background:-moz-linear-gradient(top, #33bdef 5%, #019ad2 100%);
    background:-webkit-linear-gradient(top, #33bdef 5%, #019ad2 100%);
    background:-o-linear-gradient(top, #33bdef 5%, #019ad2 100%);
    background:-ms-linear-gradient(top, #33bdef 5%, #019ad2 100%);
    background:linear-gradient(to bottom, #33bdef 5%, #019ad2 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#33bdef', endColorstr='#019ad2',GradientType=0);
    
    background-color:#33bdef;
    
    
    
    display:inline-block;
    color:#ffffff;
    font-family:arial;
    font-size:1em;
    font-weight:bold;
    text-decoration:none;
    
    text-shadow:0px -1px 0px #5b6178;
}
.plusminus span{
	border-top: 1px solid #057fd0;
	border-bottom: 1px solid #057fd0;
}
.plusminus .m{
	border:1px solid #057fd0;
    border-top-right-radius:0.3em;
    border-bottom-right-radius:0.3em;
}

.plusminus .p{
	border:1px solid #057fd0;
    border-top-left-radius:0.3em;
    border-bottom-left-radius:0.3em;
}
.productMenu .last_row td{
	border-top: 3px solid #ccc;
	padding-top: 0.5em;
}
.productMenu tbody tr:last-child td {
  padding-bottom: 0.5em;
}

.productMenu .product_name,.productMenu .total{
	padding: 0 1em;
	text-align: left;
}

.productMenu .command_row{
	text-align: right;	
}
.placeOrder{
	box-sizing:border-box;
	width: 98%;
	text-align: center;
	padding:0.3em 0;
	margin-top:0.5em;
	margin-left:1%;
}
#product_description{
	display: none;
}
#product_description h4, #product_description a{
	float:left;
	margin-bottom: 1em;
}
#product_description h4{
	line-height: 2em;
	margin-right: 1em;
}
/* Guest menu - orders*/
#guest_menu_wrap{
	float: right;
    right: 50%;
    position: relative;
}
#guest_menu{
	float: right;
    right: -50%;
    position: relative;
	margin-bottom: 1.2em;
	padding:0;
}
#guest_menu li{
	float: left;
	padding: 0 0.5em;
    
    -moz-box-shadow: 0px 1px 0px 0px #f0f7fa;
    -webkit-box-shadow: 0px 1px 0px 0px #f0f7fa;
    box-shadow: 0px 1px 0px 0px #f0f7fa;
        
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #444444), color-stop(1, #555555));
    background:-moz-linear-gradient(top, #33bdef 5%, #555555 100%);
    background:-webkit-linear-gradient(top, #444444 5%, #555555 100%);
    background:-o-linear-gradient(top, #444444 5%, #555555 100%);
    background:-ms-linear-gradient(top, #444444 5%, #555555 100%);
    background:linear-gradient(to bottom, #444444 5%, #55555 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#444444', endColorstr='#555555',GradientType=0);
    background-color:#444;
    
    display:inline-block;
    color:#ffffff;
    font-family:arial;
    font-size:1em;
    font-weight:bold;
    padding:0.3em 1.25em;
    text-decoration:none;
    
    text-shadow:0px -1px 0px #5b6178;
    
}
#guest_menu li.first{
	border-top-left-radius: 0.3em;
	-moz-border-radius-topleft: 0.3em;
	-webkit-border-top-left-radius: 0.3em;
	border-bottom-left-radius: 0.3em;
	-moz-border-radius-bottomleft: 0.3em;
	-webkit-border-bottom-left-radius: 0.3em;
}
#guest_menu li.last{
	border-top-right-radius: 0.3em;
	-moz-border-radius-topright: 0.3em;
	-webkit-border-top-right-radius: 0.3em;
	border-bottom-right-radius: 0.3em;
	-moz-border-radius-bottomright: 0.3em;
	-webkit-border-bottom-right-radius: 0.3em;
}
#guest_menu li.active{
	    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #33bdef), color-stop(1, #019ad2));
    background:-moz-linear-gradient(top, #33bdef 5%, #019ad2 100%);
    background:-webkit-linear-gradient(top, #33bdef 5%, #019ad2 100%);
    background:-o-linear-gradient(top, #33bdef 5%, #019ad2 100%);
    background:-ms-linear-gradient(top, #33bdef 5%, #019ad2 100%);
    background:linear-gradient(to bottom, #33bdef 5%, #019ad2 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#33bdef', endColorstr='#019ad2',GradientType=0);
	display:block;
}
#product_description{
	display: none;
}
#product_description h4, #product_description a{
	float:left;
	margin-bottom: 1em;
}
#product_description h4{
	line-height: 2em;
	margin-right: 1em;
}
/* Header */
#header{
	height: 5em;
	margin-bottom:1em;
}

#header .logo, #header h1{
	float: left;
	font-size: 1em;
}
#header h1{
	line-height: 5em;
	margin-left: 1em;
}
#header .logo{
	width: 5em;
}
#header .guest_profile{
	line-height: 4em;
}
/* Host menu */
#host_menu {
	float: left;
	margin: 65px 0 0 30px;
}
#host_menu li{
	float: left;
	margin-right: 20px;
}
#host_menu li.active{
	border-bottom:1px solid #ccc;
}
/* Twitter bootstrap */
fieldset label, div.input{
} 
div.input{
	margin-bottom:20px;
}
/* Title and back button */
.titleAndButton h2, .titleAndButton h3, .titleAndButton h4, .titleAndButton a.myButton{
	float:left;
}
.titleAndButton a.myButton{
	margin: 24px 0 0 20px;
}
/* Input text */
input[type="text"]{
    
    padding: 7px;   
    border: 1px solid #DDDDDD;
    
    /*Applying CSS3 gradient*/
    background: -moz-linear-gradient(center top , #FFFFFF,  #EEEEEE 1px, #FFFFFF 20px);    
    background: -webkit-gradient(linear, left top, left 20, from(#FFFFFF), color-stop(5%, #EEEEEE) to(#FFFFFF));
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FBFBFB', endColorstr='#FFFFFF');
    
    /*Applying CSS 3radius*/   
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    
    /*Applying CSS3 box shadow*/
    -moz-box-shadow: 0 0 2px #DDDDDD;
    -webkit-box-shadow: 0 0 2px #DDDDDD;
    box-shadow: 0 0 2px #DDDDDD;

}
input[type="text"]:hover
{
    border:1px solid #cccccc;
}
input[type="text"]:focus
{
    box-shadow:0 0 2px #FFFE00;
}
/* Guest profile */
.guest_profile {
	display: inline-block;
	margin: 0.2em 0;
}
.guest_profile img{
	width: 2em;
	height: 2em;
	margin-right: 0.5em;
	vertical-align: middle;
}
/* Footer table and guests */
#table_info .bartable{
	width: 5em;
	height: 5em;
	border: 1px solid #333;
	text-align: center;
	vertical-align: middle;
	line-height: 5em;
	border-radius: 1em;
	margin: 0;
	margin-right: 0.5em;
}
#table_info .bartable, #table_info .guest_list{
	float:left;
}
/* Footer and messages*/
#footer {
	margin-top: 2em;
}
#footer .info_messages{
	position: fixed;
	bottom: 0;
	width: 100%;
	text-align: center;
	
	min-height: 4em;
	display: table;

	color: #c09853;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
	background-color: #fcf8e3;
	border: 1px solid #c09853;
}
#footer .info_messages span, #footer .info_messages .close{
	display: table-cell;
    vertical-align: middle;
}
.closable .close{
	font-weight: bold;
	font-size: 1.25em;
	color: #c09853;	
}
/* Bar table list */
.bartable{
	margin:30px;
}
.bartable .name{
	width: 100px;
	height: 100px;
	border: 1px solid #333;
	text-align: center;
	vertical-align: middle;
	line-height: 100px;
	border-radius: 5px;  
}
.bartable .name, .bartable .state{
	float:left;  
}
.bartable .active_order{
	color: red;
	background-color: yellow;
}
/* Bar table view */
#bartable .name{
	width: 300px;
	height: 300px;
	border: 3px solid #333;
	text-align: center;
	vertical-align: middle;
	line-height: 300px;
	border-radius: 15px;
	margin-right: 20px;
}
#bartable .name, #bartable .state{
	float:left;
}
#bartable .state{
	min-width: 700px;
}
/* Product List View */
table.simpleTable {
	font-family:Arial, Helvetica, sans-serif;
	color:#666;
	text-shadow: 1px 1px 0px #fff;
	background:#eaebec;
	margin:20px;
	border:#ccc 1px solid;

	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;

	-moz-box-shadow: 0 1px 2px #d1d1d1;
	-webkit-box-shadow: 0 1px 2px #d1d1d1;
	box-shadow: 0 1px 2px #d1d1d1;
}
table.simpleTable th {
	padding:21px 25px 22px 25px;
	border-top:1px solid #fafafa;
	border-bottom:1px solid #e0e0e0;

	background: #ededed;
	background: -webkit-gradient(linear, left top, left bottom, from(#ededed), to(#ebebeb));
	background: -moz-linear-gradient(top,  #ededed,  #ebebeb);
}
table.simpleTable th:first-child {
	text-align: left;
	padding-left:20px;
}
table.simpleTable tr:first-child th:first-child {
	-moz-border-radius-topleft:3px;
	-webkit-border-top-left-radius:3px;
	border-top-left-radius:3px;
}
table.simpleTable tr:first-child th:last-child {
	-moz-border-radius-topright:3px;
	-webkit-border-top-right-radius:3px;
	border-top-right-radius:3px;
}
table.simpleTable tr {
	text-align: center;
	padding-left:20px;
}
table.simpleTable td:first-child {
	text-align: left;
	padding-left:20px;
	border-left: 0;
}
table.simpleTable td {
	padding:12px;
	border-top: 1px solid #ffffff;
	border-bottom:1px solid #e0e0e0;
	border-left: 1px solid #e0e0e0;

	background: #fafafa;
	background: -webkit-gradient(linear, left top, left bottom, from(#fbfbfb), to(#fafafa));
	background: -moz-linear-gradient(top,  #fbfbfb,  #fafafa);
}
table.simpleTable tr.even td {
	background: #f6f6f6;
	background: -webkit-gradient(linear, left top, left bottom, from(#f8f8f8), to(#f6f6f6));
	background: -moz-linear-gradient(top,  #f8f8f8,  #f6f6f6);
}
table.simpleTable tr:last-child td {
	border-bottom:0;
}
table.simpleTable tr:last-child td:first-child {
	-moz-border-radius-bottomleft:3px;
	-webkit-border-bottom-left-radius:3px;
	border-bottom-left-radius:3px;
}
table.simpleTable tr:last-child td:last-child {
	-moz-border-radius-bottomright:3px;
	-webkit-border-bottom-right-radius:3px;
	border-bottom-right-radius:3px;
}
table.simpleTable tr:hover td {
	background: #f2f2f2;
	background: -webkit-gradient(linear, left top, left bottom, from(#f2f2f2), to(#f0f0f0));
	background: -moz-linear-gradient(top,  #f2f2f2,  #f0f0f0);	
}

/* Login screen */
#login_content .message{
	text-align: center;
}
#providers_wrap{
	float: right;
    right: 50%;
    position: relative;
}
#providers{
	float: right;
    right: -50%;
    position: relative;
	margin-top: 1.2em;
	padding:0;
}