@(orders: Option[OrdersSumWithProductList])(implicit request: Request[Any], lang:play.api.i18n.Lang, flash: Flash, barTableWithState: BarTableWithState, loggedInUser: User)

@guest_main(Messages("active.orders.title")) {

		@orders match { 
		case Some(order) => { 
			<table class="productMenu">
			<caption>@Messages("active.orders.title"): 
				<span class="elapsed" data-elapsed="@utils.Formatter.elapsedMillis(order.latestOrderAdded)">@utils.Formatter.elapsed(order.latestOrderAdded)</span>
			</caption>
			<tbody>
		  @order.productsWithNameCountAndSum.map { product =>
			<tr class="productRow">
				<td>@product._2</td>
				<td class="product_name">@product._1</td>
				<td class="price">@product._3 Ft</td>
			</tr>
		  }
		  </tbody>
		  <tfoot>
		    <tr><td></td><td class="total">@Messages("orders.total") </td><td class="price">@order.sum Ft</td></tr>
		  </tfoot>
		</table>
		
		}
		case None => { @Messages("orders.active.noOrders") }
	}
} 
