@(bars: List[Bar])(implicit request: Request[Any], lang:play.api.i18n.Lang, flash: Flash, loggedInUser: User)

@import helper._

@guest_main_no_table(Messages("welcome.message",loggedInUser.name)) {

@Messages("bar.checkin")
  @bars.map { bar =>
  	<div class="bar clearfix">
 		<a href="@routes.CheckinController.listTables(bar.id.get)" class="checkin">
 			<div class="name">@bar.name</div>
 			<div class="name">@bar.address</div>
 		</a>
  	</div>
 }
}
