@(tables: List[BarTableWithState])(implicit request: Request[Any], lang:play.api.i18n.Lang, flash: Flash, loggedInUser: User)

@import helper._

@guest_main_no_table(Messages("welcome.message",loggedInUser.name)) {

    @tables match {
        case Nil => {@Messages("bar.hasNoTable")}
        case _ => {
            
            @Messages("bartable.checkin"):
          @tables.map { table =>
          	<div class="bartable clearfix">
         		<a href="@routes.CheckinController.checkin(table.barTable.id.get)" class="checkin">
         			<div class="name">@table.barTable.name</div>
         		</a>
        	 	<ul>
        	 	@table.guests.map { guest =>
        			<li>
        			@guest_profile(guest)
        			</li>
        	 	}
        	 	</ul>
          	</div>
         } 
        }   
    }
}
