@(orders: Option[OrdersSumWithProductList])(implicit request: Request[Any], lang:play.api.i18n.Lang, flash: Flash, barTableWithState: BarTableWithState, loggedInUser: User)

@import helper._

@guest_main(Messages("delivered.orders.title")) {
	@orders match {
		case Some(order) => {
			<table class="productMenu">
				<caption>@Messages("delivered.orders.title"):</caption>
				<tbody>
			  @order.productsWithNameCountAndSum.map { product =>
				<tr class="productRow">
					<td>@product._2</td>
					<td class="product_name">@product._1</td>
					<td class="price">@product._3 Ft</td>
				</tr>
			  }
				</tbody>
				<tfoot>
				    <tr><td></td><td class="total">@Messages("orders.total") </td><td class="price">@order.sum Ft</td></tr>
				</tfoot>
			</table>
			@form(action = routes.OrderController.pay, 'id -> "pay"){
			    <a href="#" class="myButton pay">@Messages("menu.pay.command")</a>
		    }
		}
		case None => {@Messages("orders.delivered.noOrders")}
	}
} 

