@(products: List[Product])(implicit request: Request[Any], lang:play.api.i18n.Lang, flash: Flash, barTableWithState: BarTableWithState, loggedInUser: User)

@import helper._
@import helper.twitterBootstrap._

@guest_main(Messages("place.order.title")) {

<a href="@routes.OrderController.filterMenuBy("étel")">ételek</a>
<a href="@routes.OrderController.filterMenuBy("ital")">italok</a>
<a href="@routes.OrderController.filterMenuBy("hamburger")">hamburger</a>
<a href="@routes.OrderController.newOrder">@Messages("orders.filter.all")</a>

<div id="order_form">
	@form(action = routes.OrderController.placeOrder, 'id -> "placeOrder"){
	<table class="productMenu">
		<caption>@Messages("menu.product.list.title")</caption>
		<tbody>
	  @products.map { product =>
		<tr class="productRow@product.id.get">
			<td>
				<div class="plusminus">
					<a href="#" data-id="@product.id.get" class="p removeProductFromOrder">-</a><span id="product_count_@product.id.get">0</span><a href="#" class="m addProductToOrder" data-id="@product.id.get">+</a><input type="hidden" id="product_@product.id.get" name="product_@product.id.get" autocomplete="off" value="0"></input>
				</div>
			</td>
			
			<td class="product_name" data-id="@product.id.get" data-desc="@product.description" data-name="@product.name">@product.name</td>
			<td id="product_price_@product.id.get" class="price"><span>@product.price</span> Ft</td>
		</tr>
	  }
		</tbody>
	  	<tfoot>
			<tr class="last_row"><td></td><td class="total">@Messages("orders.total") </td><td id="orders_total" class="price"><span>0</span> Ft</td></tr>
	  	</tfoot>
	</table>	
	}
	<a href="#" class="myButton placeOrder">@Messages("menu.place.order.command")</a>
</div>
<div id="product_description">
	<h4></h4><a id="backToMenu" class="myButton">@Messages("general.back")</a>
	<div class="clearfix"></div>
	<span></span>
</div>
	
} 
