@(title: String, action:  play.api.mvc.Call, buttonText: String)(implicit lang:play.api.i18n.Lang)
<div class="clearfix titleAndButton">
    <h2>@title</h2>
    <a class="myButton" href="@action">@buttonText</a>
</div>