@(hostCandidates: List[User])(implicit lang:play.api.i18n.Lang, flash: Flash, request: RequestHeader, loggedInUser: User)

@main(Messages("bar.host.addNewHost")) {

    @component.titleAndButton(Messages("bar.host.addNewHost"),routes.BarHostController.listHosts,Messages("back"))
    <ul>
    @hostCandidates.map{ hostCandidate =>
        <li>
        @host_profile(hostCandidate)
            @hostCandidate.id.map{ id => 
            <form action="@routes.BarHostController.addHost(id)" method="POST" id="addHost@id">
                <a data-id="@id"class="myButton addHost" href="#">@Messages("bar.host.addNewHost")</a>
            </form>        
            }
        </li>    
    }
    </ul>
}
