@(barForm: Form[Bar])(implicit lang:play.api.i18n.Lang, flash: Flash, request: RequestHeader, loggedInUser: User)

@import helper._

@main_register(Messages("bar.new.title")) {

<div id="map-canvas" style="height: 300px;
    margin: 0px;
    padding: 0px">
</div>

<div class="clearfix titleAndButton">
    <h2>@Messages("bar.new.title")</h2>
</div>
     @form(routes.BarController.create, 'id->"createBar") {
        
        <fieldset class="bar">
            @inputText(barForm("name"), '_label -> Messages("bar.name"))
            @inputText(barForm("address"), '_label -> Messages("bar.address"))
        </fieldset>
        
        <div class="actions">
            <a href="#" class="myButton createBar">@Messages("general.save")</a>            
        </div>
    }
}
