@(hosts: List[HostUser])(implicit lang:play.api.i18n.Lang, flash: Flash, request: RequestHeader, loggedInUser: User)

@main(Messages("bar.host.list.title")) {

<div class="clearfix titleAndButton">
    <h2>@Messages("bar.host.list.title")</h2>
</div>

<div class="clearfix titleAndButton">
    <h4>@Messages("bar.host.admin.list.title")</h4>
</div>
<ul>
  @hosts.filter(_.host.barAdmin).map { host => 
    <li>
      @host_profile(host.user)
      <form action="@routes.BarHostController.removeAdmin(host.user.id.get)" method="POST" id="removeAdmin@host.user.id.get">
        <a data-id="@host.user.id.get"class="myButton removeAdmin" href="#">@Messages("bar.host.removeAdmin")</a>
      </form>
    </li>
  }
</ul>

<div class="clearfix titleAndButton">
    <h4>@Messages("bar.host.host.list.title")</h4>
    <a class="myButton addNewHost" href="@routes.BarHostController.addNewHost("")">@Messages("bar.host.addNewHost")</a>
</div>
<ul>
  @hosts.map { host => 
    <li>
      @host_profile(host.user)
      <form action="@routes.BarHostController.addAdmin(host.user.id.get)" method="POST" id="addAdmin@host.user.id.get">
        <a data-id="@host.user.id.get" class="myButton addAdmin" href="#">@Messages("bar.host.addAsAdmin")</a>
      </form>
      <form action="@routes.BarHostController.removeHost(host.user.id.get)" method="POST" id="removeHost@host.user.id.get">
        <a data-id="@host.user.id.get" class="myButton removeHost" href="#">@Messages("bar.host.removeHost")</a>
      </form>
    </li>
  }
</ul>
}
