@(products: List[Product])(implicit lang:play.api.i18n.Lang, flash: Flash, request: RequestHeader, loggedInUser: User)

@main(Messages("product.list.title")) {

<div class="clearfix titleAndButton">
	<h2>@Messages("product.list.title")</h2>
	<a class="myButton" href="@routes.ProductController.showCreate()">@Messages("general.new")</a>
</div>
<table class="simpleTable">
	<thead>
		<tr>
			<th>@Messages("product.id")</th>
			<th>@Messages("product.name")</th>
			<th>@Messages("product.desc")</th>
			<th>@Messages("product.price")</th>
			<th>@Messages("product.availability")</th>
			<th colspan="2"></th>			
		</tr>
	</thead>
  @products.map { product =>
	<tr class="productRow@product.id.get">
		<td>@product.id</td>
		<td>@product.name</td>
		<td>@product.description</td>
		<td>@product.price</td>
		<td>@if(product.availability) {@Messages("general.yes")} else{@Messages("general.no")}</td>
        <td><a class="myButton" href="@routes.ProductController.showEdit(product.id.get)">@Messages("general.edit")</a></td>
        <td><a class="myButton deleteProduct" data-id="@product.id.get" href="#">@Messages("general.delete")</a></td>
	</tr>
  }
</table>
}
