@(productForm: Form[Product])(implicit lang:play.api.i18n.Lang, flash: Flash, request: RequestHeader, loggedInUser: User)

@import helper._

@main(Messages("product.new.title")) {

<div class="clearfix titleAndButton"><h2>@Messages("product.new.title")</h2> <a class="myButton" href="@routes.ProductController.list()">@Messages("general.back")</a></div>
    @form(routes.ProductController.saveNew(), 'id->"editProduct") {
        
        <fieldset class="product">
        
            @inputText(productForm("name"), '_label -> Messages("product.name"))
            @textarea(productForm("description"), '_label -> Messages("product.desc"))
            @inputText(productForm("price"), '_label -> Messages("product.price"))
            @checkbox(productForm("availability"), '_label -> Messages("product.availability"))

        </fieldset>
        
        <div class="actions">
            <a href="#" class="myButton saveProduct">@Messages("general.save")</a>            
        </div>
        
    }

}