@(id: Long, productForm: Form[ProductWithTags])(implicit lang:play.api.i18n.Lang, flash: Flash, request: RequestHeader, loggedInUser: User)

@import helper._
@import helper.twitterBootstrap._

@main(Messages("product.edit.title")) {

<div class="clearfix titleAndButton"><h2>@Messages("product.edit.title")</h2><a class="myButton" href="@routes.ProductController.list()">@Messages("general.back")</a></div>
    @form(routes.ProductController.update(id), 'id->"editProduct") {
        
        <fieldset class="product">
        
            @inputText(productForm("name"), '_label -> Messages("product.name"))
            @textarea(productForm("description"), '_label -> Messages("product.desc"))
            @inputText(productForm("price"), '_label -> Messages("product.price"))
            @checkbox(productForm("availability"), '_label -> Messages("product.availability"))
            @inputText(productForm("tags"), '_label -> Messages("product.tags"))

        </fieldset>
        
        <div class="actions">
            <a href="#" class="myButton saveProduct">@Messages("general.save")</a>            
        </div>
        
    }

}