@(tables: List[BarTableWithState])(implicit lang:play.api.i18n.Lang, flash: Flash, request: RequestHeader, loggedInUser: User)

@import helper._

@main(Messages("bartables.list.title")) {

<div class="clearfix titleAndButton">
    <h2>@Messages("bartables.list.title")</h2>
    <a class="myButton" href="@routes.TableController.showEditTables()">@Messages("general.edit")</a>
</div>
  <table>
  @tables.map { table =>
    <tr>
        <td><input class="tableName@table.barTable.id" value="@table.barTable.name"></input></td>
        <td><a class="myButton updateTableName" data-id="@table.barTable.id">@Messages("general.save")</a></td>
        <td>
            <form action="@routes.TableController.deleteTable(table.barTable.id.get)" method="POST" id="deleteTable@table.barTable.id.get">
                <a class="myButton deleteTable" data-id="@table.barTable.id">@Messages("general.delete")</a>
            </form>
        </td>
        <td><a class="myButton" href="@routes.TableController.printQRCode(table.barTable.id.get)">@Messages("bartables.list.printQRCode")</a></td>
    </tr>
  }
  </table>
  @form(routes.TableController.addNewTable(), 'id->"addNewTable") {
      <a class="myButton addNewTable" >@Messages("bartables.list.addNewTable")</a>
  }
}
