@(bartableWithState: BarTableWithState)(implicit lang:play.api.i18n.Lang, flash: Flash, request: RequestHeader, loggedInUser: User)

@import helper._

@main(Messages("bartables.list.title")) {

<div id="bartable">
	<div class="name"><span>@bartableWithState.barTable.name</span></div>
	<div class="state">
		<div id="guests" class="clearFix">
			@form(routes.TableController.checkoutAllGuests(bartableWithState.barTable.id.get), 'id -> "checkoutAllGuests") {
				<div>
				@bartableWithState.guests.length match{
							case 0 => {@Messages("bartables.no_guests")} 
							case num => { @num match {
								case 1 => {1 @Messages("bartables.guest")}
								case _ => {@bartableWithState.guests.length @Messages("bartables.guests")}
								}
								<a href="#" class="myButton checkoutAllGuests">@Messages("bartable.checkout.guests")</a>
							}														
				}
				</div>			
			}

			<ul>
			@bartableWithState.guests.map{ guest => 
				<li>
				@guest_profile(guest)
				</li>
			}
			</ul>
		</div>
		
		<div id="deliveredOrders" class="clearFix">
		@defining(bartableWithState.ordersGroupedByStateWithOrdersSum.get(Delivered)) { deliveredOrders =>
			@if(deliveredOrders == None){
				<div>@Messages("bartable.no.active.orders")</div>			
			}else{
			@form(routes.TableController.paid(bartableWithState.barTable.id.get), 'id -> "deliveredOrdersPaid") {
				<div>@Messages("bartable.delivered.orders.sum") @deliveredOrders.get.sum Ft <a href="#" class="myButton deliveredOrdersPaid">@Messages("bartable.bill.paid")</a></div>
			}
		<ul>
			@deliveredOrders.get.productsGroupedByproductId.values.map{ products =>
				<li class="product_@products.head.id">@products.length @products.head.name</li>
			}
		</ul>
			}
		}
		</div>	
		
		<div class="clearFix active_orders">
		@defining(bartableWithState.ordersGroupedByStateWithOrdersSum.get(Active)) { activeOrders =>
			@if(activeOrders == None){
				<div>@Messages("bartable.no.active.orders")</div>			
			}else{
			@form(routes.TableController.delivered(bartableWithState.barTable.id.get), 'id -> "activeOrdersDelivered") {
				<div><span>@Messages("bartable.active.orders.sum") 
					@activeOrders.get.sum Ft <span class="elapsed" data-elapsed="@utils.Formatter.elapsedMillis(activeOrders.get.latestOrderAdded)">@utils.Formatter.elapsed(activeOrders.get.latestOrderAdded)</span>
				</span>
				<a href="#" class="myButton activeOrdersDelivered">@Messages("bartable.orders.delivered")</a></div>
			}
		<ul>
			@activeOrders.get.productsGroupedByproductId.values.map{ products =>
				<li>@products.length @products.head.name</li>
			}
		</ul>	
			}
		}
		</div>
	</div>
</div>

}
