@(tables: List[BarTableWithState])(implicit lang:play.api.i18n.Lang, flash: Flash, request: RequestHeader, loggedInUser: User)

@main(Messages("bartables.list.title")) {

<div class="clearfix titleAndButton">
    <h2>@Messages("bartables.list.title")</h2>
    <a class="myButton" href="@routes.TableController.showEditTables()">@Messages("general.edit")</a>
</div>
  @tables.map { table =>
  	<div id="bartable_@table.barTable.id.get" class="bartable clearFix">
  		<div class="name"><a href=@routes.TableController.view(table.barTable.id.get)>@table.barTable.name</a></div>
  		<ul class="state">
			@table.guests.length match{
				case 0 => {<li class="guests">@Messages("bartables.no_guests")</li>} 
				case 1 => {<li class="guests">1 @Messages("bartables.guest")</li>}
				case _ => {<li class="guests">@table.guests.length @Messages("bartables.guests")</li>}
			}
			<li class="delivered_orders">
				@table.ordersGroupedByStateWithOrdersSum.get(Delivered) match {
					case Some(order) => { @Messages("bartables.delivered_orders") @order.sum Ft }
					case None => {@Messages("bartables.no_unpaid_orders")}
				}
			</li>
			<li class="active_orders">
				@table.ordersGroupedByStateWithOrdersSum.get(Active) match {
					case Some(order) => { 
						<span>@Messages("bartables.active_order") @order.sum Ft <span class="elapsed" data-elapsed="@utils.Formatter.elapsedMillis(order.latestOrderAdded)">@utils.Formatter.elapsed(order.latestOrderAdded)</span></span>
						}
					case None => {@Messages("bartables.no_active_orders")}
				}
			</li>
			@if(table.guests.filter(_.wantsToPay).length > 0) {
			<li class="guest_wants_to_pay">
				@Messages("bartables.guest_wants_to_pay")
			</li>
			}
  		</ul>
  	</div>
  }
  	
  	<script>
  			var WS = window['MozWebSocket'] ? MozWebSocket : WebSocket;
            var eventSocket = new WS("@routes.WebSockets.events.webSocketURL()");
            eventSocket.onmessage = function(event) {
            	var data = JSON.parse(event.data)
        		window.location.replace("@routes.TableController.list");
            }
  	</script>

}
